autom4te.cache/**
autom4te.cache
autoscan.log
compile
config*.h
config*.h.in*
config.log
config.status
configure
configure.scan
aclocal.m4
dalongdemoapp-0.0.1.tar.gz
depcomp
install-sh
missing
Makefile.in
Makefile
stamp-h1
src/.deps
src/dalongdemoapp
src/*.o